.logoNav {
    display:inline-block;
  }
.logoText{
  display: inline-block;
  color: #006aae;
    font-weight: 600;
    /* font-family: 'Encode Sans', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Archivo', sans-serif;
}


.logoImage {
  width:75px;
}

@media only screen and (max-width: 480px ) {
  .logoText{
    font-size:16px;
  }
  .logoImage {
    width:35px;
  }
}

  .logoNav img,.logoNav h4  {
    display:inline;
  }